
.avatarContainer {
  width: 72px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .avatarArrowsContainer {
    display: flex;
    flex-direction: column;
    .avatarLeftArrow {
      width: 24px;
      height: 24px;
      background-image: url("../imgs/arrow-left.png");
    }
    .avatarRightArrow {
      width: 24px;
      height: 24px;
      background-image: url("../imgs/arrow-right.png");
    }
  }
  .avatar {
    color: blue;
    margin: 0 auto;
    .color {
      width: 72px;
      height: 72px;
      color: red;
      background-image: url("../imgs/CAT_SHEET.gif");
    }
  }
}

h3 {
  display: flex;
  justify-content: center;
}
